
<!DOCTYPE html>
<html>

<head>

</head>

<body>

    <table>
        <tr>
            <td>Numero de Tarjeta</td>
            <td>
{{ tarjeta.numero_tarjeta }}
            </td>
        </tr>
        <tr>
            <td>Cédula</td>
            <td>
{{tarjeta.cedula}}
            </td>
        </tr>
        <tr>
            <td>Franquicia</td>
            <td>
{{tarjeta.franquicia}}
            </td>
        </tr>
        <tr>
            <td>Fecha de Vencimiento</td>
            <td>
{{tarjeta.fecha_vencimiento}}

            </td>
        </tr>
    </table>

</body>

</html>