<!DOCTYPE html>
<html>

<head>
    <title>Formulario</title>
</head>

<body>
    <form action="/buscar_impuesto" method="get">
        Escriba el id de su impuesto a buscar:
        <input type="text" name="id">
        <button type="submit">Buscar</button>
    </form>
    <form action="/calcular_impuesto">
        <div>
            Escriba su cedula:
            <input type="text" name="cedula">
        <div>
            Ingresos anuales:
            <input type="number" name="ingresos_anuales">
        </div>

        <div>
            Deducciones generales:
            <input type="number" name="deducciones">
        </div>

        <div>
            Aporte pensión:
            <input type="number" name="pension">
        </div>

        <div>
            Aporte salud:
            <input type="number" name="salud">
        </div>

        <div>
            Número dependientes:
            <input type="number" name="dependientes">
        </div>

        <div>
            ¿Tiene vivienda propia?

            <input type="radio" name="vivienda_propia" value="True"> Sí

            <input type="radio" name="vivienda_propia" value="False"> No
        </div>

        <div>
            Intereses crédito vivienda:
            <input type="number" name="interes_credito">
        </div>

        <br>

        <button type="submit">
            Enviar
        </button>

    </form>
    <div>
        si es la primera vez que ejecuta haga click para crear la tabla de <br>
        <a href="/crear_tabla">aquí</a>
    </div>
</body>

</html>